body {
    background-color: #333;
    font-family: "Microsoft YaHei";
}

.sidebar, .sidebar-toggle, .search, input[type="search"] {
    /* background-color: #cba; */
    background-color: rgb(116, 120, 125);
}

.search {
    border-bottom: 1px solid rgb(128, 128, 128) !important;
}

p, li, summary, .sidebar-nav li p a, .sidebar ul li a {
    color: white;
}

h1 .anchor span {
    color: #D13EAC;
}

h2 .anchor span {
    color: #FC9929;
}

h3 .anchor span {
    color: #FF66FF;
}

h2::before {
    content: "#";
    color: #42b983;
    position: absolute;
    left: -4px;
}

summary {
    cursor: pointer;
    user-select: none;
}

p.tip {
    background-color: rgba(189, 70, 124, 0.3) !important;
    color: white !important;
}

.markdown-section code, .markdown-section pre {
    background-color: white;
    color: #1696FF;
    filter: invert(1);
}

pre.prettyprint span {
    font-weight: bold;
}

span.com {
    /* prettyprint comment */
    color: #8E908C;
}

/* markdown-code background: #fdf6e3 !important; */