body {
    background-color: #333;
    font-family: "Microsoft YaHei";
}
.sidebar, .sidebar-toggle, .search, input[type="search"] {
    background-color: rgb(116, 120, 125);
}

.search {
    border-bottom: 1px solid rgb(128, 128, 128) !important;
}

p, li, summary, .sidebar-nav li p a, .sidebar ul li a {
    color: white;
}

.markdown-section strong {
    color: white;
}

h1 .anchor span { 
    color: #D13EAC;
}
h2 .anchor span {
    color: #FC9929;
}
h3 .anchor span {
    color: #FF66FF;
}
h2::before {
    content: "#";
    color: #42b983;
    position: absolute;
    left: -4px;
}

summary {
    cursor: pointer;
    user-select: none;
}

p.tip {
    background-color: rgba(189, 70, 124, 0.3) !important;
    color: white !important;
}

.markdown-section p code {
    color: aqua;
    font-size: 16px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 3px;
    padding: 1px 5px;
}

/* prism hightlight */
pre[v-pre=""] {
    padding: 0;
    margin: 0;
    filter: invert(1);
}

pre[v-pre=""] code {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
    color: black;
}

pre[v-pre=""] p {
    color: white;
}
/* /prism hightlight */

/* prettyprint */
pre.prettyprint {
    background-color: white;
    color: #1696FF;
    filter: invert(1) !important;
}

span.com {
    /* prettyprint's comment */
    color: #8E908C;
}
/* /prettyprint */