h1 .anchor span { color: #D13EAC;}
h2 .anchor span { color: #FC9929;}
h3 .anchor span { color: #FF66FF;}

/* more than 1100px width display #*/
@media screen and (min-width: 1100px) {
    h2::before {
        content: "#";
        color: #42b983;
        position: absolute;
        left: -6px;
    }
}
/* search resulat don't display # */
.results-panel h2::before {
    content: "";
}

.markdown-section hr {
    border-color: #D1D1D1;
    border-width: 2px;
}
div.search {
    border-bottom: 1px solid #D1D1D1;
}

/* code block */
pre[v-pre=""] code {
    padding-top: 0;
    padding-bottom: 0;
}

/* prettyprint's comment */
pre.prettyprint span.com {
    color: #8E908C;
}

/* html5 tag */
summary {
    cursor: pointer;
    user-select: none;
}

.img-center-container {
    text-align: center;
}

.img-center-container img {
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
}
