.fa-hashtag.mytitle {
  color: var(--theme-color,#42b983);
}

div.sidebar-nav > ul > li > ul > li > ul > li > a,
div.sidebar-nav > ul > li > ul > li > ul > ul > li > a {
  line-height: 1.5em;
}

summary { 
  cursor: pointer;
}
